@import url("https://fonts.googleapis.com/css?family=Trirong");html {
    box-sizing: border-box;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    background-color:#000000;
    background-image:url(images/lights.jpeg);
    background-attachment: fixed;
    height: 50%; 
}

body {
    color: #000000;
  }

.sus {  
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

.flow {
  flex-flow: row wrap; 
  width: 26.6%;
  height: 28vw;
  border-radius: 10px;
  margin: 3.6rem;
  align-items: center;
}

.mommy {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 30px auto;   
    padding-top: 1rem; 
}

.baby { 
    font-family: "Times New Roman", Times, serif;
    flex-flow: row wrap; 
    width: 26.6%;
    height: 28vw;
    border-radius: 10px;
    margin: 3vw;
    background-color: #e0bde6;
    box-shadow: .5em .5em 1em;
    align-items: center;
    justify-content: space-around;
}

.card-1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px #888888;
  }

  .card-1:hover, .card-1:focus, .card-1:active {
    -webkit-animation-name: card-1;
    animation-name: card-1;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    box-shadow: 10px 10px 8px #888888;
  }

.card-2{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px #888888;
}

.card-2:hover, .card-2:focus, .card-2:active {
    -webkit-animation-name: card-2;
    animation-name: card-2;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    box-shadow: 10px 10px 8px #888888;
  } 

.card-3{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px #888888;
}

.card-3:hover, .hvr-hang:focus, .hvr-hang:active{
    -webkit-animation-name: card-3, card-3;
    animation-name: card-3, card-3;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    box-shadow: 10px 10px 8px #888888;
}

.baby-4{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px #888888;
}

.baby-4:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: baby-4;
    animation-name: baby-4;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    box-shadow: 10px 10px 8px #888888;
}

.baby-5{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px #888888;
}
.baby-5:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: baby-5;
    animation-name: baby-5;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    box-shadow: 10px 10px 8px #888888;
  }

.baby-6{
  animation: wiggle 2s linear infinite;
  transform-origin: 50% 5em;
}


.img {
    height: 23vw;
    width: 100%;
    border-radius: 10px;
}

.text {
    color: #ffffff;
    text-align: center;
    font-size-adjust: .5; 
}

/*wiggle wiggle wiggle*/

@keyframes wiggle {
0%, 7% {
    transform: rotateZ(0); 
}

15% {
    transform: rotateZ(-15deg); 
}

20% {
    transform: rotateZ(10deg); 
}

25% { 
    transform: rotate(-10deg); 
}

30% { 
    transform: rotateZ(6deg); 
}

35% {
  transform: rotateZ(-4deg);
}

40%, 100% {
  transform: rotateZ(0);
}
}

@-webkit-keyframes card-1 {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(5.1);
    }
  }
  @keyframes card-1 {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(5.1);
    }
  }

  @-webkit-keyframes card-2 {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes card-2 {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  @-webkit-keyframes card-3 {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes card-3 {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes card-3 {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes .card-3 {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }

  @-webkit-keyframes baby-4 {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes .baby-4 {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes baby-5 {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes baby-5 {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

@media screen and (max-width: 390px) {
  .baby {
    width: 8rem; 
    margin-left: 17px;
    display: flex;
    flex-direction: column; 
  }
  .mommy {
    margin: 1rem;
  }

  .text {
    font-size: 5px; 
  }

  .text5 {
    font-size: 4px; 
  }
}

@media screen and (max-width: 810px) {
  .baby {
    width: 15rem; 
    height: 14.7rem; 
    margin-left: 60px;
    display: flex;
    flex-direction: column; 
  }
  .mommy {
    margin: 1rem;
  }

  .text {
    font-size: 10px; 
  }

  .text5 {
    font-size: 8px; 
  }

}

@media screen and (max-width: 1440px) {
  .flow {
    margin-left: 40px; 
  }
}