
.mommy {
    color:rgb(164, 74, 143);  
    font-size: 100px; 
    padding: 10px 10px; 
    margin:10px; 
    align-items: center;
    justify-content: center;
  }

  .mommy {
    background-color: pink;
    display: flex; 
    flex-direction: column; 
    border: 9px solid rgb(164, 74, 143);
    border-radius: 20px;
    padding: 30px;
    justify-content: center; 
    align-items: center;
    margin: 10px; 
    max-width: 1000px;
    margin-left: 400px; 
  }

  