@import url("https://fonts.googleapis.com/css?family=Trirong");html {
    box-sizing: border-box;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    background-color:#000000;
    background-image:url(images/lights.jpeg);
    background-attachment: fixed;
    height: 50%; 
}

body {
    color: #000000;
  }

  .gif {
    padding-left: 8rem; 
    width: 20rem; 
  }
  
  .gif2{
    padding-left: 1rem;
    width: 20rem;
    margin-right: 5rem; 
  }

.mommy {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 30px auto;   
    margin-top: 3rem; 
}

.baby { 
    font-family: "Times New Roman", Times, serif;
    flex-flow: row wrap; 
    width: 26.6%;
    height: 28vw;
    border-radius: 10px;
    margin: 3vw;
    background-color: #e0bde6;
    box-shadow: .5em .5em 1em;
    align-items: center;
    justify-content: space-around;
}

.img {
    height: 23vw;
    width: 100%;
    border-radius: 10px;
}

.text {
    color: #ffffff;
    text-align: center;
    font-size-adjust: .5; 
}

.sus:hover { 
    margin-left: 1%;  
    padding: 0rem; 
    animation: wiggle 2s linear infinite;
    transform-origin: 50% 5em;
}

/*wiggle wiggle wiggle*/

@keyframes wiggle {
0%, 7% {
    transform: rotateZ(0); 
}

15% {
    transform: rotateZ(-15deg); 
}

20% {
    transform: rotateZ(10deg); 
}

25% { 
    transform: rotate(-10deg); 
}

30% { 
    transform: rotateZ(6deg); 
}

35% {
  transform: rotateZ(-4deg);
}

40%, 100% {
  transform: rotateZ(0);
}
}
